<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sjt.cai.mumschool.dao.QuestionMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.sjt.cai.mumschool.entity.po.QuestionPO">
		<id column="id" property="id" />
		<result column="type" property="type" />
		<result column="content" property="content" />
		<result column="score" property="score" />
		<result column="creater" property="creater" />
		<result column="create_time" property="createTime" />
		<result column="modifier" property="modifier" />
		<result column="modify_time" property="modifyTime" />
	</resultMap>
	<resultMap id="BoResultMap" type="com.sjt.cai.mumschool.entity.bo.QuestionBO" extends="BaseResultMap">
		<collection property="questionOptionBOs" ofType="com.sjt.cai.mumschool.entity.bo.QuestionOptionBO"
					javaType="java.util.ArrayList" select="com.sjt.cai.mumschool.dao.QuestionOptionMapper.selectListByQuestionId"
					column="id">
		</collection>
	</resultMap>
	<select id="selectFirst" parameterType="java.lang.Integer" resultMap="BoResultMap">
		SELECT q.id,q.type,q.content,q.score,r.question_bank_id,r.seq
		FROM relation_bank_question  r
		  left join question q on r.question_id = q.id
			inner join exam e  on e.id = #{examId} and r.`question_bank_id` = e.`question_bank_id`
		ORDER BY r.`question_bank_id`, r.`seq` LIMIT 0,1;
	</select>
	<select id="selectNext" parameterType="com.sjt.cai.mumschool.entity.dto.NextQuestionDTO" resultMap="BoResultMap">
		SELECT q.id,q.type,q.content,q.score,r.question_bank_id,r.seq
		FROM relation_bank_question AS r
			left join question q on r.question_id = q.id
		WHERE r.`question_bank_id` = #{questionBankId} and r.`seq` > #{seq} ORDER BY r.`question_bank_id`, r.`seq` LIMIT 0,1;
	</select>

</mapper>
