<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sjt.cai.mumschool.dao.QuestionBankMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.sjt.cai.mumschool.entity.po.QuestionBankPO">
		<id column="id" property="id" />
		<result column="title" property="title" />
		<result column="content" property="content" />
		<result column="single_num" property="singleNum" />
		<result column="multiple_num" property="multipleNum" />
		<result column="total_score" property="totalScore" />
		<result column="duration" property="duration" />
		<result column="remark" property="remark" />
		<result column="creater" property="creater" />
		<result column="create_time" property="createTime" />
		<result column="modifier" property="modifier" />
		<result column="modify_time" property="modifyTime" />
	</resultMap>

</mapper>
