<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sjt.cai.mumschool.dao.QuestionMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.sjt.cai.mumschool.entity.po.QuestionPO">
		<id column="id" property="id" />
		<result column="type" property="type" />
		<result column="content" property="content" />
		<result column="score" property="score" />
		<result column="creater" property="creater" />
		<result column="create_time" property="createTime" />
		<result column="modifier" property="modifier" />
		<result column="modify_time" property="modifyTime" />
	</resultMap>
	<resultMap id="BoResultMap" type="com.sjt.cai.mumschool.entity.bo.QuestionBO" extends="BaseResultMap">
		<collection property="questionOptionBOs" ofType="com.sjt.cai.mumschool.entity.bo.QuestionOptionBO"
					javaType="java.util.ArrayList" select="com.sjt.cai.mumschool.dao.QuestionOptionMapper.selectListByQuestionId"
					column="id">
		</collection>
	</resultMap>
	<select id="selectFirst" parameterType="java.lang.Integer" resultMap="BoResultMap">
		select * from question q where q.id =
			(select rbq.question_id from relation_bank_question rbq, exam em
			 where rbq.question_bank_id = em.question_bank_id and em.id =#{examId} and
				rbq.seq =
				(
				select min(r.seq)
					from relation_bank_question r,exam e
					where r.question_bank_id = e.question_bank_id and e.id = #{examId}
				)
			)
	</select>
	<select id="selectNext" parameterType="com.sjt.cai.mumschool.entity.dto.NextQuestionDTO" resultMap="BoResultMap">
		select *,#{questionBankId} as questionBankId from question q
		 where  q.id = (
						select question_id
							from relation_bank_question rbq
							where  question_bank_id = #{questionBankId}
								and seq =(select Min(r.seq) as seq
												from relation_bank_question r
												where r.question_bank_id = #{questionBankId}
												and  r.seq > (select seq from relation_bank_question
															  where question_bank_id = #{questionBankId} and question_id = #{questionId})
										  )
						)
	</select>

</mapper>
